<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Exámenes oficiales</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet">

</head>

<body class="bg-light">

<div class="container py-5">

    <h1 class="fw-bold mb-5">
        Exámenes oficiales
    </h1>

    <div class="d-flex gap-4">

        <a href="/oficial/generar/penal"
           class="btn btn-dark btn-lg">

            Derecho Penal

        </a>

        <a href="/oficial/generar/seguridad"
           class="btn btn-primary btn-lg">

            Cuerpos de Seguridad

        </a>

    </div>

</div>

</body>
</html>